<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">

    <title>Vue js</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="vue-app">
        <h3> Name :{{ name }}</h3>
        <h3>Id : {{ id }}</h3>
        <h3>Phone : {{ phone }}</h3>
    </div>

    <div id="vue-app2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
    to see my dynamically bound title!
        </span>
    </div>

    <div id="vue-app3">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id='vue-app4'>
        <ol>
            <li v-for='todo in todos'>
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id = "app">
        <li v-for='i in num'>
            {{ i }}
        </li>
    </div>

    <div id= "vue-app5">
        <p>{{ message }}</p>
        <button v-on:click="reversemessage">Reverse Message</button>
    </div>

    <div id="vue-app6">
        <p> {{ message }} </p>
        <input v-model='message'>
    </div>

    <div id='app1'>
        <p> {{ mes }} </p>
        <input v-model ='mes'>
    </div>

    <div id="vue-app7">
        <ol>
            <todo-item
            v-for = 'item in groceryList'
            v-bind:todo="item"
            v-bind:key="item.id">
         </todo-item>

        </ol>
    </div>
        <script src="app.js"></script>
</body>
</html>
